@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #1e1e1e;
  color: white;
}

/* Custom Dark Scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #424242;
  border: 2px solid #1e1e1e; /* Creates a nice padding effect */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}
::-webkit-scrollbar-corner {
  background: #1e1e1e;
}